<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PSRemotingExplorer.Connection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <PSRemotingExplorer.Connection>
      <setting name="Username" serializeAs="String">
        <value>PSRemotingUser</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ComputerName" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>55985</value>
      </setting>
      <setting name="Authentication" serializeAs="String">
        <value>Basic</value>
      </setting>
    </PSRemotingExplorer.Connection>
  </userSettings>
</configuration>